

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.modal-dialog .input-group {
	width:90%;
	margin:10px auto;
}

.modal-dialog .input-group input {
	margin:0;
}

#venueList {
	padding:0;
	margin:auto;
	width:100%;
}

#venueList li {
	padding:5px 5%;
	width:100%;
	margin:0;
	color:black;
}

#venueList li .title {
	font-weight:bold;
}

#venueList li .location {
	font-size: 10px;
	color: gray;
}

#venuesMap {
	height:300px;
	box-shadow:0px 5px 5px rgba(0,0,0,.4);
}

.input-group .form-control {
width: 100%;
margin-bottom: 0;
margin-left: 20px;
}

.list-group-item {
position: relative;
display: block;
padding: 15px 15px;
margin-bottom: -1px;
background-color: #fff;
border: none;

}

.list-group-item:hover {
    background: #CFF2FA;
}

.event-time {
	font-size: .75em;
	font-style: oblique;
	color:#cccccc;
}

.event-img {
	width:50px;
}

.event-btn:hover {
	color:#cccccc;
}






