

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#venuesMap {
	height:300px;
	box-shadow:0px 5px 5px rgba(0,0,0,.4);
}


.list-group-item {
position: relative;
display: block;
padding: 15px 15px;
margin-bottom: -1px;
background-color: #fff;
border: none;

}

.list-group-item:hover {
    background: #CFF2FA;
}

.event-time {
	font-size: .75em;
	font-style: oblique;
	color:#cccccc;
}

.event-img {
	width:50px;
}

.event-btn:hover {
	color:#cccccc;
}






